<div class="row">
  <div class="col">
    <button type="button" class="btn btn-primary my-3" routerLink="/books">Book List</button>
    <div class="card" *ngIf="book !== undefined">
      <div class="card-header">
        <h2>{{book.title}}</h2>
        <p class="card-subtitle">{{book.description}}</p>
      </div>
      <div class="card-body">
        <dl>
          <dt>ISBN:</dt>
          <dd>{{book.isbn}}</dd>
          <dt>Author:</dt>
          <dd>{{book.author}}</dd>
          <dt>Publisher:</dt>
          <dd>{{book.publisher}}</dd>
          <dt>Publish Year:</dt>
          <dd>{{book.published_year}}</dd>
          <dt>Update Date:</dt>
          <dd>{{book.updated_date | date}}</dd>
        </dl>
        <button type="button" class="btn btn-primary" routerLink="/book-edit/{{book._id}}">Edit</button>
        <button type="button" class="btn btn-warn" (click)="deleteBook(book._id)">Delete</button>
      </div>
    </div>
  </div>
</div>
